*{
    padding: 0;
    margin: 0;
}
.signup{
    height: 480px;
    width: 300px;
    border-style: solid;
    font-style: normal;
    align-items: center;
    display: flex;
    font-size: x-large;
    font-style: oblique;
}
.login{
    height: 380px;
    width: 280px;
    font-weight: 100px;
    line-height: 40px;
}
